.header-line{
    align-items: center;
    background-color: #1f1f56;
}

.menu,
.menu-social{
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__link{
    display: inline-block;
    padding: 19px 10px;
    color: #b1b1d2;
    font-size: 14rem;
    text-decoration: none;
}

.menu__link:hover{
    color: #fd8300;
}

.menu__item:first-child .menu__link{
    padding-left: 0;
}

.wrapper-main{
    gap: 30px;
    padding: 40px 0;
}

.information{
    width: 75%;
}

.information-company__title{
    margin: 0;
    color: #24242b;
    font-size: 30rem;
}

.information-company__text{
    color: #666666;
    font-size: 14rem;
}

.information-company__details{
    color: #fd8300;
    text-decoration: none;
}

.information-company__details:hover{
    text-decoration: underline;
}
