.header-line{
    align-items: center;
    background-color: #1f1f56;
}

.menu,
.menu-social{
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu__link{
    display: inline-block;
    padding: 19px 13px;
    color: #b1b1d2;
    font-size: 14rem;
    text-decoration: none;
}

.menu__link:hover{
    color: #fd8300;
}

.menu__item:first-child .menu__link{
    padding-left: 0;
}

.wrapper-main{
    gap: 30px;
    padding: 40px 0;
}

.information{
    width: 75%;
}

.information-company__title{
    margin: 0;
    color: #24242b;
    font-size: 30rem;
}

.information-company__text{
    color: #666666;
    font-size: 14rem;
}

.information-company__details{
    color: #fd8300;
}

.banner {
    text-align: center;
    padding: 40px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/cotage.jpg);
    background-size: cover;
}

.block__text{
    margin: 0;
    padding: 5px 0;
    color: #ffffff;
    font-size: 30rem;
    text-transform: uppercase;
}

.block__promotion{
    margin: 0;
    padding: 10px 0;
    color: #ffffff;
    font-size: 14rem;
}

.block__price{
    margin: 0;
    color: #fd8300;
    font-size: 40rem;
    font-weight: bold;
}

.product-card__link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #1f1f56;
}

.product-card:hover .product-card__title{
    text-decoration: underline;
}

.popular__title{
    color: #24242b;
    font-size: 24rem;
}

.product-card{
    position: relative;
    margin: 0;
    width: 30%;
    gap: 10px;
}

.product-card__house{
    width: 100%;
}

.product-card__title{
    margin: 0;
    padding: 9px 0;
    color: #1f1f56;
    font-size: 14rem;
}

.product-card__text{
    margin: 0;
    padding: 5px 0;
    color: #9999a6;
    font-size: 13rem;
}

.aside-burger__menu{
    border-radius: 3px;
    overflow: hidden;
    width: 220px;
}

.aside-burger__title{
    padding: 15px;
    margin: 0;
    color: #fff;
    font-size: 16rem;
    background-color: #1f1f56;
}

.aside-burger__list,
.aside-burge-submenu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.aside-burger__link,
.aside-burger-submenu__link{
    display: block;
    padding: 15px;
    color: #25252c;
    font-size: 14rem;
    text-decoration: none;
    background-color: #e4e4ec;
    border-bottom: 1px solid #cdcddd;
}

.aside-burger__list>li:last-child .aside-burger__link{
    border: none;
}

.aside-burge-submenu{
    display: none;
}

.aside-burger-submenu__link{
    color: #666;
    padding-left: 30px;
}

.aside-burger__link:hover{
    background: #fd8300;
    color: #fff;
}

.aside-burger-submenu__link:hover{
    background-color: #cecedd;
}

.aside-burger__item:hover .aside-burge-submenu{
    display: block;
}