.header{
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
}

.contacts-main{
    margin: 40px 0;
    width: 100%;
}

.contacts-main__title{
    margin: 0;
    color: #24242b;
    font-size: 24rem;
    font-family: "Roboto Slab", serif;
}

.contacts-main-infa__title{
    margin: 0;
    padding-bottom: 20px;
    color: #24242b;
    font-size: 17rem;
    font-family: "Roboto Slab", serif;
}

.contacts-main-infa__location,
.contacts-main-infa__item{
    margin: 0;
    padding: 5px 0;
    color: #666;
    font-size: 14rem;
}

.contacts-main-infa__phone{
    color: #25252c;
    font-size: 18rem;
    font-weight: bold;
    text-decoration: none;
}

.contacts-main-infa__phone:hover,
.contacts-main-infa__email:hover{
    color: #fd8300;
    text-decoration: underline;
}

.contacts-main-infa__email{
    color: #25252c;
    font-size: 16rem;
    text-decoration: underline;
}

.main__band{
    border: none;
    border-top: 1px solid #e4e4ec;
    margin: 0;
}

.map{
    overflow: hidden;
}

.geolocation{
    width: 400px;
    height: 360px;
    margin-top: -60px;
    border: none;
}

.contacts-bundles{
    margin: 40px 0;
    gap: 30px;
}

.contacts-main-bundles__title{
    margin: 0 5px;
    margin-bottom: 21px;
    color: #24242b;
    font-family: "Roboto Slab", serif;
    font-size: 17rem;
}

.form-contacts__item,
.form-notification__item,
.form-send__item{
    margin: 0;
    padding: 0;
}

.form-contacts__info,
.form-notification__info,
.form-notification__text{
    margin-bottom: 5px;
    padding: 12px 15px;
    box-sizing: border-box;
    border: none;
    border: 1px solid #c5c5d4;
    border-radius: 3px;
    outline: none;
}

.form-contacts__info:focus,
.form-notification__info:focus,
.form-notification__text:focus{
    filter: drop-shadow(0 0 2.5px rgba(62,106,255,0.55));
}

::placeholder{
    letter-spacing: normal;
    color: #9999a6;
    font-size: 13px;
    font-style: italic;
}

.form-notification__text{
    resize: none;
    height: 67px;
}

.form-send__button{
    width: 140px;
    height: 40px;
    color: #000;
    font-weight: bold;
    border: none;
    border: 2px solid #fd8300;
    border-radius: 21px;
    background-color: #fff;
}

.form-send__button:hover {
    color: #fff;
    background-color: #fd8300;
}

.form-send{
    align-items: center;
    gap: 30px;
}

label[for=latestNews]{
    font-size: 13px;
    color: #666;
}

input[type="checkbox"]{
    visibility: hidden;
}

.form-send__item{
    position: relative;
}

label[for="latestNews"]::before{
    content: '';
    position: absolute;
    left: -5px;
    width: 15px;
    height: 15px;
    border: 1px solid #c5c5d4;
    border-radius: 3px;
}

input:checked+label[for="latestNews"]::after{
    content: '';
    position: absolute;
    top: 9.5px;
    left: -1px;
    width: 7px;
    height: 3px;
    border-left: 2px solid #1f1f56;
    border-bottom: 2px solid #1f1f56;
    transform: rotate(-45deg);
    opacity: 0;
}

input:checked+label[for="latestNews"]::after{
    opacity: 1;
}

@media screen and (min-width: 320px){
    .form-notification__item,
    .form-notification__info,
    .form-notification__text,
    .form-notification,
    .form-contacts__info,
    .form-contacts__item,
    .contacts-main-bundles,
    .map{
        width: 100%;
    }
    .geolocation{
        width: 100%;
    }
    .contacts-main{
        text-align: center;
    }
    .contacts-main-infa{
        padding-top: 25px;
        width: 100%;
        text-align: center;
    }
    .contacts-main-infa__title{
        padding-bottom: 15px;
    }
    .form-send__button{
        width: 100%;
    }
    .form-send__item{
        padding-top: 5px;
    } 
}

@media screen and (min-width: 425px){
    .contacts-main{
        text-align: left;
    }
    .contacts-main-infa{
        width: 50%;
        text-align: left;
    }
}

@media screen and (min-width: 768px){
    .geolocation{
        width: 100%;
    }
    .contacts-main{
        text-align: left;
    }
    .contacts-main-infa{
        width: 25%;
        text-align: left;
    }
    .form-contacts__item{
        width: 49%;
    }
    .form-send{
        display: flex;
    }
    .form-send__button{
        width: 30%;
    }
    /* .contacts-main-infa{
        width: 50%;
    }
    .contacts-main{
        text-align: left;
    } */
}

@media screen and (min-width: 1024px){
    .geolocation{
        width: 100%;
        height: 330px;
    }
    .form-contacts__info,
    .form-notification__info,
    .form-notification__text{
        width: 100%;
    }
    .contacts-main-bundles{
        width: 50%;
    }
    .map{
        width: 45%;
        height: 252px;
    }
    .form-contacts__item{
        width: 49%;
    }
    .form-send{
        display: flex;
    }
    .form-send__button{
        width: 33%;
    }
    .contacts-main{
        text-align: left;
    }
    .contacts-main-infa{
        width: 25%;
        text-align: left;
    }
}
@media screen and (min-width: 1440px){
    .geolocation{
        height: 315px;
    }
    .map{
        width: 45%;
    }
    .form-send__button{
        width: 24%;
    }
    .form-contacts__item{
        width: 49%;
    }
    .form-send{
        display: flex;
    }
}
