html {
    font-size: 1px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14rem;
    background: #fff;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.sup__size {
    font-size: 0.5em;
}

.wrapper-menu,
.wrapper-header,
.wrapper-main,
.wrapper-footer,
.wrapper{
    margin: auto;
    width: 80%;
    max-width: 1200px
}

.menu-social{
    gap: 27px;
}

.menu-social__fb,
.menu-social__tw,
.menu-social__inst{
    display: inline-block;
    vertical-align: middle;
    background: url(../img/social-psd.png);
}

.menu-social__fb{
    width: 11px;
    height: 19px;
    background-position: 0 0;
}

.menu-social__fb:hover{
    background-position: 0 -21px;
}

.menu-social__tw{
    width: 19px;
    height: 16px;
    background-position: 40px 0;
}

.menu-social__tw:hover{
    background-position: 40px 20px;
}

.menu-social__inst{
    width: 20px;
    height: 20px;
    background-position: 20px 0;
}

.menu-social__inst:hover{
    background-position: 20px -20px;
}

.wrapper-header{
    position: relative;
    padding: 30px 0;
}

.phone{
    padding: 0 25px;
}

.phone__item{
    position: relative;
    display: block;
}

.phone__link::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -15%;
    width: 17px;
    height: 17px;
    transform: translateY(-60%);
    background: url(../img/sprite_sicial.png);
}

.wrapper-header::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 55px;
    background-color: #e4e4ec;
    transform: translate(-50%, -50%);
}

.phone__item,
.contacts__item,
.call__item{
    margin: 0;
    padding: 5px 0;
}

.phone__link{
    color: #25252c;
    font-size: 18rem;
    font-weight: bold;
    text-decoration: none;
}

.phone__item:last-child .phone__link::before{
    display: none;
}

/* .contacts{
    padding: 0 30px;
} */

.contacts p{
    padding: 5px 0;
    margin: 0;
}

.contacts__email{
    display: block;
    position: relative;
    color: #25252c;
    font-size: 16rem;
    text-decoration: none;
}

.contacts__email::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -18%;
    width: 18px;
    height: 13px;
    transform: translateY(-60%);
    background: url(../img/sprite_sicial.png);
    background-position: 18px 0;
}

.contacts__skype{
    display: block;
    position: relative;
    color: #25252c;
    font-size: 16rem;
    text-decoration: none;
}

.contacts__skype::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -18%;
    width: 19px;
    height: 19px;
    transform: translateY(-60%);
    background: url(../img/sprite_sicial.png);
    background-position: 38px 0;
}

.phone__link:hover,
.contacts__email:hover,
.contacts__skype:hover{
    color: #fd8300;
     text-decoration: underline;
}

.call__link {
    display: inline-block;
    padding: 12px 30px;
    font-size: 14rem;
    color: #25252c;
    font-weight: bold;
    border: 2px solid #fd8300;
    border-radius: 25px;
    text-decoration: none;
}

.call__link:hover {
    color: #fff;
    background-color: #fd8300;
}

.main__band{
    border-top: 1px solid #e4e4ec;
    margin: 30px 0;
}

.footer{
    background-color: #ededf5;
}

.wrapper-footer{
    padding: 29px 0;
}

.lower-menu__list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.lower-menu__link{
    color: #666666;
    font-size: 14rem;
    text-decoration: none;
}

.lower-menu__link:hover{
    color: #fd8300;
}

.footer .wrapper-line{
    background-color: #dcdce6;
}

.copy{
    margin: auto;
    padding: 15px;
    color: #9999a6;
}