.banner {
    text-align: center;
    padding: 40px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/cotage.jpg);
    background-size: cover;
}

.block__text{
    margin: 0;
    padding: 5px 0;
    color: #ffffff;
    font-size: 28rem;
    font-family: "Roboto Slab", serif;
    text-transform: uppercase;
}

.block__promotion{
    margin: 0;
    padding: 10px 0;
    color: #ffffff;
    font-size: 14rem;   
}
  
.block__price{
    margin: 0;
    color: #fd8300;
    font-size: 40rem;
    font-weight: bold;
}

.wrapper-main{
    gap: 30px;
    padding: 40px 0;
}

.information{
    width: 75%;
    flex: 1 0 300px;
}

.information-company__title{
    padding-bottom: 10px;
    font-size: 30rem;
    color: #24242b;
    font-family: "Roboto Slab";
}

.information-company__text{
    padding-top: 10px;
    line-height: 25px;
    font-size: 14rem;
    color: #666;
    font-family: "Arial";
}

.information-company__details{
    padding-bottom: 30px;
    font-size: 14rem;
    font-weight: bold;
    padding-top: 25px;
    text-decoration: underline;
    color: #fd8300;
}

.main__band{
    border: none;
    border: 1px solid #e4e4ec;
}

.product-card__link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #1f1f56;
}

.product-card:hover .product-card__title{
    text-decoration: underline;
}

.popular__title{
    padding-top: 20px;
    font-family: "Roboto Slab", serif;
    color: #24242b;
    font-size: 24rem;
}

.product-card{
    padding-top: 25px;
    position: relative;
    margin: 0;
    width: 30%;
    gap: 10px;
}

.product-card__house{
    width: 100%;
}

.product-card__title{
    font-family: "Roboto Slab", serif;
    margin: 0;
    padding: 9px 0;
    color: #1f1f56;
    font-size: 14rem;
}

.product-card__text{
    margin: 0;
    padding: 5px 0;
    color: #9999a6;
    font-size: 13rem;
}

.aside-burger{
    position: sticky;
}

.aside-burger__menu{
    border-radius: 3px;
    overflow: hidden;
    width: 220px;
}

.aside-burger__title{
    padding: 15px;
    margin: 0;
    color: #fff;
    font-size: 16rem;
    background-color: #1f1f56;
}

.aside-burger__list,
.aside-burge-submenu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.aside-burger__link,
.aside-burger-submenu__link{
    display: block;
    padding: 15px;
    color: #25252c;
    font-size: 14rem;
    text-decoration: none;
    background-color: #e4e4ec;
    border-bottom: 1px solid #cdcddd;
}

.aside-burger__list>li:last-child .aside-burger__link{
    border: none;
}

.aside-burge-submenu{
    display: none;
}

.aside-burger-submenu__link{
    color: #666;
    padding-left: 30px;
}

.aside-burger__link:hover{
    background: #fd8300;
    color: #fff;
}

.aside-burger-submenu__link:hover{
    background-color: #cecedd;
}

.aside-burger__item:hover .aside-burge-submenu{
    display: block;
}

@media screen and (min-width: 320px) {
    .wrapper-main{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .product-card{
        width: 100%;
    }
    .aside-burger{
        width: 100%;
    }
    .aside-burger__menu{
        width: 100%;
    }
}

@media screen and (min-width: 527px){
    .product-card{
        width: 48%;
    }
}

@media screen and (min-width: 768px) {
    .product-card{
        width: 45%;
    }
    .aside-burger{
        width: 30%;
    }
    .aside-burger__menu{
        position: sticky;
    }
    .logo{
        text-align: center;
    }
}

@media screen and (min-width: 1024px){
    .product-card{
        width: 30%;
    }
}