html {
    font-size: 1px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14rem;
    background: #fff;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.sup__size {
    font-size: 0.5em;
}

.wrapper-menu,
.wrapper-header,
.wrapper-main,
.wrapper-footer,
.wrapper {
    margin: auto;
    width: 80%;
    max-width: 1200px
}

.wrapper-header{
    position: relative;
    padding: 30px 0;
}

.phone__item{
    position: relative;
    display: block;
}

.phone__link::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -15%;
    width: 17px;
    height: 17px;
    transform: translateY(-60%);
    background: url(../img/sprite_sicial.png);
}

.wrapper-header::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 55px;
    background-color: #e4e4ec;
    transform: translate(-50%, -50%);
}

.phone__item,
.contacts__item,
.call__item{
    margin: 0;
    padding: 5px 0;
}

.phone__link{
    color: #25252c;
    font-size: 18rem;
    font-weight: bold;
    text-decoration: none;
}

.phone__item:last-child .phone__link::before{
    display: none;
}

.contacts__email{
    display: block;
    position: relative;
    color: #25252c;
    font-size: 16rem;
    text-decoration: none;
}

.contacts__email::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -18%;
    width: 18px;
    height: 13px;
    transform: translateY(-60%);
    background: url(../img/sprite_sicial.png);
    background-position: 18px 0;
}

.contacts__skype{
    display: block;
    position: relative;
    color: #25252c;
    font-size: 16rem;
    text-decoration: none;
}

.contacts__skype::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -18%;
    width: 19px;
    height: 19px;
    transform: translateY(-60%);
    background: url(../img/sprite_sicial.png);
    background-position: 38px 0;
}

.phone__link:hover,
.contacts__email:hover,
.contacts__skype:hover{
    color: #fd8300;
     text-decoration: underline;
}

.call__link {
    display: inline-block;
    padding: 12px 30px;
    font-size: 14rem;
    color: #25252c;
    font-weight: bold;
    border: 2px solid #fd8300;
    border-radius: 25px;
    text-decoration: none;
}

.call__link:hover {
    color: #fff;
    background-color: #fd8300;
}

.wrapper-header{
    filter: drop-shadow(0 0 5px rgba(0,0,0,0.1));
}

.banner {
    text-align: center;
    padding: 40px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/cotage.jpg);
    background-size: cover;
}

.block__text{
    margin: 0;
    padding: 5px 0;
    color: #ffffff;
    font-size: 30rem;
    text-transform: uppercase;
}

.block__promotion{
    margin: 0;
    padding: 10px 0;
    color: #ffffff;
    font-size: 14rem;
}

.block__price{
    margin: 0;
    color: #fd8300;
    font-size: 40rem;
    font-weight: bold;
}


.product-card__link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #1f1f56;
}

.product-card:hover .product-card__title{
    text-decoration: underline;
}

.popular__title{
    color: #24242b;
    font-size: 24rem;
}

.product-card{
    position: relative;
    margin: 0;
    width: 30%;
    gap: 10px;
}

.product-card__house{
    width: 100%;
}

.product-card__title{
    margin: 0;
    padding: 9px 0;
    color: #1f1f56;
    font-size: 14rem;
}

.product-card__text{
    margin: 0;
    padding: 5px 0;
    color: #9999a6;
    font-size: 13rem;
}

.aside-burger__menu{
    border-radius: 3px;
    overflow: hidden;
    width: 220px;
}

.aside-burger__title{
    padding: 15px;
    margin: 0;
    color: #fff;
    font-size: 16rem;
    background-color: #1f1f56;
}

.aside-burger__list,
.aside-burge-submenu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.aside-burger__link,
.aside-burger-submenu__link{
    display: block;
    padding: 15px;
    color: #25252c;
    font-size: 14rem;
    text-decoration: none;
    background-color: #e4e4ec;
    border-bottom: 1px solid #cdcddd;
}

.aside-burger__list>li:last-child .aside-burger__link{
    border: none;
}

.aside-burge-submenu{
    display: none;
}

.aside-burger-submenu__link{
    color: #666;
    padding-left: 30px;
}

.aside-burger__link:hover{
    background: #fd8300;
    color: #fff;
}

.aside-burger-submenu__link:hover{
    background-color: #cecedd;
}

.aside-burger__item:hover .aside-burge-submenu{
    display: block;
}

.footer{
    background-color: #ededf5;
}

.wrapper-footer{
    padding: 29px 0;
}

.lower-menu__list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.lower-menu__link{
    color: #666666;
    font-size: 14rem;
    text-decoration: none;
}

.lower-menu__link:hover{
    color: #fd8300;
}

.footer .wrapper-line{
    background-color: #dcdce6;
}

.copy{
    margin: auto;
    padding: 15px;
    color: #9999a6;
}