html {
    font-size: 1px;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14rem;
    background: #fff;
}

.flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sup__size {
    font-size: 0.5em;
}

.wrapper-menu,
.wrapper-header,
.wrapper-main,
.wrapper-footer,
.wrapper{
    margin: auto;
    width: 80%;
    max-width: 1200px;
    min-width: 300px;
}

p, h1, h3, h2{
    margin: 0;
    padding: 0;
}

a{ 
    display: inline-block;
    text-decoration: none;
}

.wrapper-header{
    position: relative;
    padding: 30px 0 30px 0;
}

.phone__item,
.contacts__item{
    margin-bottom: 6px;
}

.phone__link{
    position: relative;
    font-size: 18rem;
    padding-left: 30px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
}

.phone__item:last-child .phone__link::before{
    display: none;
}

.phone__link::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 17px;
    height: 17px;
    transform: translateY(-60%);
    background: url(../img/sprite_sicial.png);
}

.wrapper-header::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 55px;
    background-color: #e4e4ec;
    transform: translate(-50%, -50%);
}

.contacts__email,
.contacts__skype{
    position: relative;
    padding-left: 35px;
    font-size: 16rem;
    line-height: 24px;
    text-decoration: underline;
    color: #25252c;
}

.contacts__email::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 18px;
    height: 13px;
    transform: translateY(-60%);
    background: url(../img/sprite_sicial.png);
    background-position: 18px 0;
}

.contacts__skype::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 19px;
    height: 19px;
    transform: translateY(-60%);
    background: url(../img/sprite_sicial.png);
    background-position: 38px 0;
}

.phone__link:hover,
.contacts__email:hover,
.contacts__skype:hover{
    color: #fd8300;
    text-decoration: underline;
}

.call__link{
    font-size: 16rem;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    padding: 12px 30px;
    border-radius: 25px;
    background-color: #fff;
    border: 2px solid #fd8300;
}

.call__link:hover {
    color: #fff;
    background-color: #fd8300;
}
