.header-line{
    align-items: center;
    background-color: #1f1f56;
}

.menu-header,
.menu-social{
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-header__link{
    display: inline-block;
    padding: 19px 13px;
    color: #b1b1d2;
    font-size: 14rem;
    text-decoration: none;
}

.menu-header__link:hover{
    color: #fd8300;
}

.menu-header__item:first-child .menu-header__link{
    padding-left: 0;
}

.menu-header__item{
    position: relative;
}

.menu-header-sub-menu,
.menu-header-submenu{
    border-radius: 3px;
}

.menu-header-submenu{
    display: none;
    padding: 0;
    width: 100%;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    z-index: 1;
}

.menu-header-submenu::before{
    content: "";
    position: absolute;
    top: -30px;
    left: -10px;
    width: 100%;
    height: 30px;
}

.menu-header-sub-menu::before{
    content: '';
    position: absolute;
    top: 0;
    left: -5px;
    width: 5px;
    height: 100%;
}

.menu-header__item:hover .menu-header-submenu{
    display: block;
}

.menu-header-sub-menu{
    display: none;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: calc(100% + 5px);
}

.menu-header-submenu__item:hover .menu-header-sub-menu{
    display: block;
}

.menu-header-submenu__item,
.menu-header-sub-menu__item{
    position: relative;
    list-style: none;
    border-bottom: 1px solid #cdcddd;
}

.menu-header-submenu__item:first-child .menu-header-submenu__link,
.menu-header-sub-menu__item:first-child .menu-header-sub-menu__link{
    border-radius: 3px 3px 0 0;
}

.menu-header-submenu__item:last-child .menu-header-submenu__link,
.menu-header-sub-menu__item:last-child .menu-header-sub-menu__link{
    border-radius: 0 0 3px 3px;
}

.menu-header-sub-menu__item:last-child,
.menu-header-submenu__item:last-child{
    border: none;
}

.menu-header-submenu__link,
.menu-header-sub-menu__link{
    display: block;
    padding: 10px;
    color: #25252c;
    font-size: 12px;
    text-decoration: none;
    background-color: #e4e4ec;
}

.menu-header-submenu .menu-header-submenu__link:hover,
.menu-header-sub-menu .menu-header-sub-menu__link:hover{
    color: #fff;
    background-color: #fd8300;
}

.wrapper-header{
    position: relative;
    padding: 30px 0;
}

.phone__item{
    position: relative;
    display: block;
}

.phone__link::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -15%;
    width: 17px;
    height: 17px;
    transform: translateY(-60%);
    background: url(../img/sprite_sicial.png);
}

.wrapper-header::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 55px;
    background-color: #e4e4ec;
    transform: translate(-50%, -50%);
}

.phone__item,
.contacts__item,
.call__item{
    margin: 0;
    padding: 5px 0;
}

.phone__link{
    color: #25252c;
    font-size: 18rem;
    font-weight: bold;
    text-decoration: none;
}

.phone__item:last-child .phone__link::before{
    display: none;
}

.contacts__email{
    display: block;
    position: relative;
    color: #25252c;
    font-size: 16rem;
    text-decoration: none;
}

.contacts__email::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -18%;
    width: 18px;
    height: 13px;
    transform: translateY(-60%);
    background: url(../img/sprite_sicial.png);
    background-position: 18px 0;
}

.contacts__skype{
    display: block;
    position: relative;
    color: #25252c;
    font-size: 16rem;
    text-decoration: none;
}

.contacts__skype::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -18%;
    width: 19px;
    height: 19px;
    transform: translateY(-60%);
    background: url(../img/sprite_sicial.png);
    background-position: 38px 0;
}

.phone__link:hover,
.contacts__email:hover,
.contacts__skype:hover{
    color: #fd8300;
     text-decoration: underline;
}

.call__link {
    display: inline-block;
    padding: 12px 30px;
    font-size: 14rem;
    color: #25252c;
    font-weight: bold;
    border: 2px solid #fd8300;
    border-radius: 25px;
    text-decoration: none;
}

.call__link:hover {
    color: #fff;
    background-color: #fd8300;
}

.header{
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
}

.main{
    margin: 45px 0;
}

.information-company__title{
    color: #24242b;
    font-size: 24rem;
}

.information-company__text{
    color: #666666;
    font-size: 14rem;
}

.information-company__service{
    margin: 30px 0;
    width: 100%;
    border-collapse: collapse;
}

.information-company__title-thead{
    padding: 15px;
    color: #fff;
    font-size: 14rem;
    text-align: center;
    background-color: #1f1f56;
    border: 1px solid #274569;
}

.information-company__line-thead>:nth-child(1){
    text-align: left;
}

.information-company__line-thead>:nth-child(3){
    text-align: right;
}

.information-company__ordinary-cell-tbody{
    padding: 15px;
    color: #666;
    font-size: 14rem;
    text-align: center;
    line-height: 24px;
    background-color: #e4e4ec;
    border: 1px solid #cecedd;
}

/* .information-company:last-child .information-company__ordinary-cell-tbody{
    border: none;
} */

.information-company__ordinary-cell-tbody:nth-child(1){
    text-align: left;
}

.information-company__ordinary-cell-tbody:nth-child(5){
    text-align: right;
}

.information-company__line-tbody:hover .information-company__ordinary-cell-tbody{
    color: #fff;
    border-collapse: collapse;
    background-color: #fd8300;
}

.information-company__details{
    color: #fd8300;
    font-size: 14rem;
    font-weight: bold;
}

.main__band{
    border: none;
    border-top: 1px solid #e4e4ec;
    margin: 30px 0;
}

.product-card__link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #1f1f56;
}

.product-card:hover .product-card__title{
    text-decoration: underline;
}

.popular__title{
    color: #24242b;
    font-size: 24rem;
}

.product-card{
    margin: 0;
    width: 23%;
    position: relative;
}

.product-card__house{
    width: 100%;
    height: 200px;
}

.product-card__title{
    margin: 0;
    padding: 9px 0;
    color: #1f1f56;
    font-size: 14rem;
}

.product-card__text{
    margin: 0;
    padding: 5px 0;
    color: #9999a6;
    font-size: 13rem;
}